<html>
    <head> 
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h1>
            <h1>Charity Chatbot</h1>
        </h1>
        <p>
            Our chatbot helps users find a charity that best fits their needs and wants.
        </p>
        <p>
            We understand that donating money can be a tricky venture to navigate.
        </p>
        <p>
            Our chatbot is aimed towards creating custom recommendations for users of diverse backgrounds and interests.       
        </p>
        
        <a href="philanthropist">Click here to find an organization to donate to today!</a>
    </body>
</html> 